@import "swiper/css";
@import "swiper/css/autoplay";
@import "tailwindcss";

@theme {
  --font-lora: var(--font-lora), serif;
  --font-merri: var(--font-merriweather), serif;

  --color-primary: #ff6900;
  --color-primary-50: #fff8ec;
  --color-primary-100: #fff0d3;
  --color-primary-200: #ffdda5;
  --color-primary-300: #ffc46d;
  --color-primary-400: #ff9f32;
  --color-primary-500: #ff820a;
  --color-primary-600: #ff6900;
  --color-primary-700: #cc4b02;
  --color-primary-800: #a13a0b;
  --color-primary-900: #82320c;
  --color-primary-950: #461704;

  --color-secondary: #ff2355;
  --color-secondary-50: #fff0f2;
  --color-secondary-100: #ffe2e7;
  --color-secondary-200: #ffcad4;
  --color-secondary-300: #ff9fb0;
  --color-secondary-400: #ff6987;
  --color-secondary-500: #ff2355;
  --color-secondary-600: #ed114d;
  --color-secondary-700: #c80842;
  --color-secondary-800: #a8093e;
  --color-secondary-900: #8f0c3b;
  --color-secondary-950: #50011b;

  --animate-swing: swing 1s;
  --animate-shimmer: shimmer 2s infinite;

  --breakpoint-2lg: 69rem;
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) translateY(-100%) rotate(45deg);
  }

  100% {
    transform: translateX(100%) translateY(100%) rotate(45deg);
  }
}

@layer base {
  body {
    @apply font-lora text-neutral-700 overflow-x-hidden;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-merri tracking-tight leading-[1.1] text-black font-medium;
  }

  :is(button, a, input) {
    @apply outline-none focus:outline-none;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full px-4 lg:px-5 xl:px-8 sm:max-w-lg md:max-w-2xl lg:max-w-5xl 2lg:max-w-[1100px] xl:max-w-6xl 2xl:max-w-7xl relative z-1;
  }
}

@layer components {
  .font-heading {
    @apply font-merri;
  }

  .scroll_bar::-webkit-scrollbar {
    @apply w-1.5;
  }

  .scroll_bar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scroll_bar::-webkit-scrollbar-thumb {
    @apply bg-primary rounded;
  }
}
